# Cluster SSH
SSH_DEFAULT_USER=root
SSH_CONTROLLER_USER=user
SSH_DEFAULT_PASSWORD=

# IVA Mail CMD protocol (port 106)
CMD_USER=
CMD_PASSWORD=

# PostgreSQL
PG_HOST=10.3.6.208
PG_PORT=5432
PG_DATABASE=ivamail
PG_USER=postgres
PG_PASSWORD=

# Cluster topology
BACKEND_HOSTS=10.3.6.206,10.3.6.207
FRONTEND_HOSTS=10.3.6.102,10.3.6.103
HAPROXY_HOST=10.3.6.101
STORAGE_HOST=10.3.6.208
MONITORING_HOST=10.3.6.108
CONTROLLER_HOST=10.3.6.100
