# Grafana datasource: Prometheus — сгенерировано Ansible, не редактировать вручную
apiVersion: 1
datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://localhost:{{ prometheus_port }}
    isDefault: true
    editable: false
    jsonData:
      timeInterval: 15s
      httpMethod: POST
      exemplarTraceIdDestinations: []
